@using WebApplication1.Utility;

@model List<WebApplication1.CSRCP>




@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReceiptList</title>

    @Styles.Render("~/Content/css")

    <style>
        media print {
            page-break-after: always;
        }
    </style>
</head>
<body>



    <div>
        @foreach (CSRCP rec in @Model)
        {
            @Html.Action("ReceiptM", new { id = MyHtmlHelpers.ConvertIdToByteStr(rec.TRNO) })

            @*<div style="clear:both!important;"></div>*@
            <div style="page-break-after:always"></div>
            @*<div style="clear:both!important;"> </div>*@
        }
    </div>
</body>
</html>
