@{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    E-7-1, Megan Avenue 1, 189 Jalan Tun Razak, <br />
    50400 Kuala Lumpur, Malaysia.<br />
    <abbr title="Phone">P:</abbr>
    +603 2770 8133 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sec@asi.my">sec@asi.my</a><br />

</address>