@{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
    ViewBag.Title = "Current Job Status";
}

@Html.Action("Jobstat", "Report")

@*<div id="divPublish">
    @{Html.RenderPartial("Partial/Publish");}
</div>*@